{{>header}}
<div class="main_header_left align-items-center">
  <figure class="errimg">
    <img src="image/404Error.png" alt="error" class="img-fluid" title="error" />
  </figure>
  <p>Welcome to weather app</p>
  <h1>{{errorMsg}}</h1>
  <a href="/"><button>Go Back To Home</button></a>
</div>
{{>footer}}